<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time</title>
</head>
<body>
    <h1>Time</h1>

    <form method="post">
        <input type=number id="startYear" name="startYear" />
        <input type=number id="endYear" name="endYear" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>

