<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/styles.css" />
</head>
<body>
    <h1>Time</h1>
    <h2>Person of the Year</h2>
    <form method="post">
        <label name="startYear">Start Year: </label>
        <input type=number id="startYear" name="startYear" required/>
        <label name="begYear">End Year: </label>
        <input type=number id="endYear" name="endYear" required/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

